

<section class="w-9/12 p-5 mx-auto mt-6 bg-gray-300 w-80 rounded-xl" >
  <h1 class="my-4">新增候選人</h1>

  <%= form_with(model: @candidate, data:{ turbo:false}) do |f|%>

  <%= render "form", f: f  %>

  <div class="flex gap-3 my-4">
    <%= f.submit "確定新增", class:"cursor-pointer"%>
    <%= link_to '返回候選人列表', candidates_path %>
  </div>


  <% end %>


</section>



